site_name: Sapienza Technology Team Documentation
site_url: https://sapienza-technology.github.io/documentation/
theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/images/STT_minimal_BLACK.svg
  favicon: assets/images/stt_favicon.jpg
  features:
    - navigation.footer
  palette:
    scheme: slate
    primary: orange
    accent: deep orange

repo_url: https://github.com/Sapienza-Technology/documentation
repo_name: GitHub
edit_uri: edit/master/docs/

extra_css:
  - stylesheets/extra.css   

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details


extra:
  social:
    - icon: simple/github
      link: https://github.com/Sapienza-Technology
    - icon: fontawesome/brands/linkedin
      link: https://it.linkedin.com/company/sapienza-technology-team
    - icon: simple/youtube
      link: https://www.youtube.com/@technologyteamsapienza6180
    - icon: simple/instagram
      link: https://www.instagram.com/sapienza_technology_team/

copyright: "Copyright &copy;2026 Sapienza Technology Team"