site_name: Sapienza Technology Team Documentation
site_url: https://sapienza-technology.github.io/documentation/
theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    scheme: slate
    primary: orange
    accent: deep orange
