
.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 3rem;
  width: 3rem;
}

/* Custom header styles */
.md-typeset h1 {
  font-size: 2.2rem !important;
}

.md-typeset h2 {
  font-size: 1.7rem !important;
  color: rgb(190, 114, 20) !important;
  font-weight: 400 !important;
}

.md-typeset h3 {
  font-size: 1.25rem !important;
  color: darkorange !important;
  font-weight:  300 !important;
}

.md-typeset h4 {
  font-size: 1.1rem !important;
  color: rgb(202, 111, 0) !important;
  font-weight: 200 !important;
}