
.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 3rem;
  width: 3rem;
}

/* Custom header styles */
.md-typeset h1 {
  font-size: 2.7rem;
  font-weight: 400;
}

.md-typeset h2 {
  font-size: 1.8rem;
  color: rgb(190, 114, 20);
  font-weight: 400;
}

.md-typeset h3 {
  font-size: 1.3rem;
  color: darkorange;
  font-weight: 300;
}

.md-typeset h4 {
  font-size: 1.1rem;
  color: rgb(202, 111, 0);
  font-weight: 200;
}